<script src="//hola.org/play_page.js"></script>
<script>window.hola_player.init({links: "hover"});</script>

<div class="hola-embedded-player" 
v=http://hola.org/play#v=http://www.mkvcage.com/torrents/The.Runner.2015.720p.BRRip.800MB.MkvCage.mkv.torrent></div> 
